@media screen and (min-width:768px) {
h1 {
    letter-spacing: 5px;
  }
  
  .header-paragraf {
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 20px;
  }

   #facts, #about, #inspirations {
   padding: 0 10px;
  }

  .flex-about, .flex-facts, .flex-container {
    display: flex;
  }

  .flex-about, .flex-facts {
    flex-direction: row-reverse;
  }
   
  .flex-about {
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .flex-facts, .flex-container {
   justify-content: center;
   align-items: center;  
  }

  .flex-container {
    flex-flow: row nowrap;
  }  

  .main-picture {
    flex-shrink: 1;
  }

  .quotes-wrapper {
    flex-grow: 1;
  }
  