* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #D8C8BE;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-paragraf {
  color: rgb(44, 46, 46);
  text-align: center;
  margin: 0;
  padding-bottom: 2%;
}

.menu-item {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #1E3D48;
}

.menu-child {
  font-size: 65%;
  border-left: 1px solid white;
  display: block;
}


.menu-child a { 
  display: block;
  color: white;
  padding: 14px 16px;
  text-transform: uppercase;
  text-decoration: solid;
}

h2, h3, h4 {
  margin: 5% 0 0 0;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
  border-bottom: gray solid 1px;
  color: #584358;
}

h2 {
  padding-top: 20px;
  margin: 0px;
}

.about-list {
  list-style-type: square;
  padding-left: 10%;
}

.about-list li {
  margin-bottom: 10px;
}

.main-picture, .facts-picture {
  margin-left: 5%; 
}


#facts {
 padding: 0 5% 0 5%;
}

.facts-childs {
  margin: 5% 0 5% 0;
  padding-right: 20px;
}

.quotes-picture {
  margin: 0 auto;
  padding: 0 5% 0 5%;
}


footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 4px;
}




