* {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #D8C8BE;
}

h1 {
  font-size: 2rem;
  padding-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, .menu-item {
  margin: 0;
}

.header-paragraf, footer, h1, h2, h3, h4 {
  text-align: center;
}

.header-paragraf {
  color: rgb(44, 46, 46);
}

.menu-item {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #1E3D48;
}

.menu-child {
  border-left: 1px solid white;
  display: block;
}


.menu-child a { 
  color: white;
  padding: 10px;
  text-decoration: solid;
  display: block;
}

h2, h3, h4 {
  padding: 5% 0 0 0;
  font-size: 1.3rem;
  font-style: italic;
  border-bottom: gray solid 1px;
  color: #584358;
}

h2 {
  padding-top: 20px;
}

.about-list {
  list-style-type: square;
}

.about-list li, .facts-childs {
  padding-bottom: 5%;
}

.main-picture, .facts-picture, .quotes-picture {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  background-color: #F1F1F1;
  padding: 2px;
}




